<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head th:replace="layouts :: header">
    <title id="pageTitle">Ticket Tracker - Update Password</title>
</head>

<!--/*@thymesVar id="passwordDto" type="com.garygriffaw.tickettracker.dto.PasswordDto"*/-->

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form autocomplete="off" th:action="@{/password/save}" th:object="${passwordDto}" method="post">
        <h3>Update Password</h3>
        <div class="tt-section-margin">
            <input type="hidden" th:field="*{userName}">
            <div class="form-group">
                <label for="password">New Password</label>
                <div class="alert tt-alert" style="white-space: pre-line"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">
                </div>
                <input type="password" class="form-control" id="password"
                       th:field="*{password}" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <div class="alert tt-alert"
                     th:if="${#fields.hasErrors('confirmPassword')}"
                     th:errors="*{confirmPassword}">
                </div>
                <input type="password" class="form-control" id="confirmpassword"
                       th:field="*{confirmPassword}" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <button class="btn tt-btn-primary col-2 mb-3" type="submit" name="save" value="Save">Update Password</button>
                <button class="btn tt-btn-primary col-2 mb-3" type="submit" name="cancel" value="Cancel">Cancel</button>
            </div>
        </div>
    </form>
</div>

<span th:replace="layouts :: footer"></span>

</body>
</html>