<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">

<head th:replace="layouts :: header">
    <title id="pageTitle">Ticket Tracker - Register</title>
</head>

<!--/*@thymesVar id="registerDto" type="com.garygriffaw.tickettracker.dto.RegisterDto"*/-->

<body>
<div class="container">
    <form autocomplete="off" th:action="@{/register/save}" th:object="${registerDto}" method="post">
        <h3>Registration Form</h3>
        <div class="tt-section-margin">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="alert tt-alert"
                     th:if="${#fields.hasErrors('userName')}"
                     th:errors="*{userName}">
                </div>
                <input type="text" class="form-control" id="username"
                       th:field="*{userName}" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="firstname">First Name</label>
                        <div class="alert tt-alert"
                             th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}">
                        </div>
                        <input type="text" class="form-control" id="firstname"
                               th:field="*{firstName}" placeholder="First Name">
                    </div>
                    <div class="col">
                        <label for="lastname">Last Name</label>
                        <div class="alert tt-alert"
                             th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}">
                        </div>
                        <input type="text" class="form-control" id="lastname"
                               th:field="*{lastName}" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="alert tt-alert"
                     th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}">
                </div>
                <input type="text" class="form-control" id="email"
                       th:field="*{email}" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="alert tt-alert" style="white-space: pre-line"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">
                </div>
                <input type="password" class="form-control" id="password"
                       th:field="*{password}" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <div class="alert tt-alert"
                     th:if="${#fields.hasErrors('confirmPassword')}"
                     th:errors="*{confirmPassword}">
                </div>
                <input type="password" class="form-control" id="confirmpassword"
                       th:field="*{confirmPassword}" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn tt-btn-primary btn-block">Register User</button>
            </div>
        </div>
        </form>
    </div>
</div>

<span th:replace="layouts :: footer"></span>

</body>
</html>